.blog {
  margin-top: 87px;
}

.blog h1 {
  font-family: "Tiemposbold";
  font-size: 20px;
  color: #050505;
  text-align: center;
}

.blog p {
  text-align: center;
  font-size: 12px;
  font-family: "Apercuregular";
}

.blog img {
  width: 90vw;
  object-fit: cover;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (min-width: 760px) {
  .blog {
    /* width: 100vw; */
    /* padding-left: 120px; */
    /* padding-right: 78px; */
    margin: 100px auto 0 auto;
  }
  .blog h1 {
    font-size: 30px;
  }

  .blog p {
    font-size: 1rem;
  }

  .blog img {
    width: 60vw;
  }
}
