.footer {
  background: #000;
  margin-top: 104px;
  width: 100vw;
}

.footer img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  object-fit: cover;
}

.footer img:last-child {
  display: none;
}

@media screen and (min-width: 760px) {
  .footer {
  }
  .footer img:last-child {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    display: block;
  }

  .footer img:first-child {
    display: none;
  }
}
