.firstwrapper {
  background: #f5f6f8;
  width: 400px;
  max-width: 531px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 25px 0;
  position: relative;
  /* left: 21px; */
  /* max-height: 407px; */
}

@media screen and (max-width: 450px) {
  .firstwrapper {
    width: 95vw;
    left: 21px;
    /* margin: 0 auto; */

    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: 2rem 0.5rem 0 1rem; */
  }

  .section {
    /* display: flex; */
    /* flex-direction: column; */
  }

  .design {
    display: none;
  }
}

.persons {
  z-index: 10000;
  display: flex;
  padding: 12px 0 12px 16px;
  align-items: center;
  /* use positioning before applying zindex */
  position: relative;
  margin: 41px 51px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
    0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
  border-radius: 10px;
  /* background: #fff; */
}

.persons img {
  width: 54px;
  height: 54px;
}

.separate {
  margin-left: 11px;
  line-height: 14px;
}

.separate h1 {
  background: #f5f6f8;
  color: #060606;
  padding: 5.5px;
  font-size: 15px;
  font-family: "Apercuregular";
  font-weight: 700;
}

.separate p {
  text-transform: capitalize;
  font-size: 14px;
}

.design {
  background: #ff0000;
  width: 100px;
  height: 180px;
  position: absolute;
  top: 174px;
  z-index: 1;
  left: 300px;
  border-radius: 135px 0 0 135px;
}

.second {
  background: #ff0000;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  border-radius: 20px 20px 130px 20px;
}

/* second card */
/* 
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14.2px;
  margin: 2rem 21px 0 21px;
}

.card {
  background: #d9d9d966;
  
  border-radius: 13px;

}

.card img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 15px 53px;
}

.card h1 {
  font-size: 12px;
  text-align: center;
  padding: 0 18px;
  font-family: "Tiemposbold";
}

.card p {
  font-size: 14px;
  font-family: "Apercuregular";
  padding: 0 18px;
  text-align: center;
} */

@media screen and (min-width: 760px) {
  .firstwrapper {
    margin: 132px 0 0 151px;
    height: 407px;
  }

  .section {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .persons {
    padding: 8px 0 8px 12px;
    /* margin: 20px 31px; */
  }
}
