.container {
  margin: 2rem auto 0 auto;
  width: 85vw;
}

.container h1 {
  font-family: "Tiemposbold";
  font-size: 20px;
}

.container p {
  font-family: "Apercuregular";
  line-height: 17px;
  font-size: 12px;
  width: 85vw;
}

@media screen and (min-width: 760px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 165px;
  }

  .container h1 {
    font-size: 30px;
    line-height: 39px;
  }

  .container p:last-child {
    display: block;
    font-size: 1rem;
    line-height: 25px;
  }

  .container p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .container p {
    font-size: 1rem;
  }
}
