.container {
  margin-top: 108px;
  margin-left: 27px;
}

.container h1 {
  font-family: "Tiemposbold";
  font-size: 27px;
}

.container p {
  font-family: "Apercuregular";
  line-height: 17px;
  font-size: 14px;
  width: 80vw;

  /* padding: 11px 27px 0 0; */
}

@media screen and (min-width: 760px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 165px;
    border: 1px solid red;
    width: 90vw;
  }

  .container h1 {
    font-size: 30px;
    line-height: 39px;
  }

  .container p:last-child {
    display: block;
    font-size: 1rem;
    line-height: 25px;
    width: 70vw;
    /* width: 1177px; */
  }

  .container p {
    display: none;
  }
}
