.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14.2px;
  /* margin-left: 21px; */
  margin: 2rem 21px 0 21px;
}

@media screen and (max-width: 450px) {
  .wrapper {
    width: 85vw;
    margin: 2rem auto 0 auto;
  }
}

.card {
  background: #d9d9d966;
  /* width: 157px; */
  /* width: 40vw; */
  /* max-width: 250px; */
  border-radius: 13px;
  /* height: 147px; */
  /* max-height: 206px; */
  /* margin: 0 auto; */
}

.card img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 15px 53px;
}

.card h1 {
  font-size: 12px;
  text-align: center;
  padding: 0 18px;
  font-family: "Tiemposbold";
}

.card p {
  font-size: 14px;
  font-family: "Apercuregular";
  padding: 0 18px;
  text-align: center;
}

@media screen and (min-width: 760px) {
  .wrapper {
    /* margin-right: 30px; */
  }
  .card {
    width: 190px;
  }
  .card img {
    width: 70px;
    height: 70px;
  }

  .card h1 {
    font-size: 14px;
  }

  .card p {
    font-size: 13px;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    margin-left: 0;
    margin-right: 50px;
  }
}
