.mainArea {
  margin-top: 93px;
}

.section {
  margin-bottom: 0;
}

.section img {
  width: 85vw;
  display: flex;
  justify-content: center;
  max-width: 530px;
  object-fit: cover;
  margin: 0 auto;
  height: auto !important;
}

.second_Section {
  margin-top: -3rem;
  margin-left: 18px;
  margin-right: auto;
  width: 85vw !important;
}

.text {
  width: 80vw;
  /* width: 344px; */
  font-family: "Tiemposbold";
  margin: 1.5rem 0;
  font-size: 27px;
}

.para {
  font-family: "Apercuregular";
  font-size: 14px;
  margin-top: 14px;
  width: 314px;
}

.icon {
  background: #22d497;
  padding: 13px;
  box-shadow: 0px 100px 80px rgba(34, 212, 151, 0.07),
    0px 64.8148px 46.8519px rgba(34, 212, 151, 0.0531481),
    0px 38.5185px 25.4815px rgba(34, 212, 151, 0.0425185),
    0px 20px 13px rgba(34, 212, 151, 0.035),
    0px 8.14815px 6.51852px rgba(34, 212, 151, 0.0274815),
    0px 1.85185px 3.14815px rgba(34, 212, 151, 0.0168519);
  border-radius: 47px;
}

.buttons {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  padding: 8px 39px 8px 20px;
  font-size: 14px;
  font-family: "Apercuregular";
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper p {
  margin-left: 9px;
}

@media screen and (min-width: 760px) {
  .mainArea {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 180px 5vw 0 7vw;
    /* position: relative; */
    /* left: 220px; */
    /* right: 78px; */
    /* margin: 0 auto; */
    align-items: center;
    width: 90vw;
  }

  .section {
    /* align-self: flex-start; */
  }

  .second_Section {
    /* width: 40vw; */
    /* margin: 0 auto; */

    /* margin-right: 10px; */
  }

  .text {
    width: 300px;
  }

  .para {
    width: 250px;
    font-size: 12px;
    line-height: 30px;
  }

  .buttons {
    width: 320px;
  }

  .section img {
    /* margin-left: 10px; */
    width: 380px;
  }
}

@media screen and (min-width: 1000px) {
  .mainArea {
    justify-content: space-around;
    display: flex;
    margin: 0 auto;
    width: 80vw;
  }
  .section img {
    width: 450px;
  }
  .text {
    width: 350px;
  }

  .para {
    width: 320px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .mainArea {
    width: 70vw;
  }
}
