.whatsapp {
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
}

.whatsapp img {
  width: 60px;
  height: 60px;
}

@media screen and (min-width: 760px) {
  .whatsapp {
    position: relative;
    right: 8vw;
    margin-top: -6rem;
  }
}
