.main {
  position: relative;
  margin-top: 3rem;
}

.card1 {
  /* width: 21rem; */
  background-color: #fff;
  border-radius: 16px;
  width: 40vw;
  padding: 20px 35px;
}

.card1 h1 {
  /* margin-left: 34px; */
}

.wrap {
  position: absolute;
  top: -1.6rem;
  left: 45vw;
}

.wrap img {
  background: #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.desc {
  line-height: 8px;
  margin-left: 17px;
}

.lists {
  display: flex;
  align-items: center;
}

/* mobile design */

@media screen and (max-width: 450px) {
  .lists img {
    width: 35px;
    height: 35px;
    object-fit: cover;
  }
  .desc p:first-child {
    font-size: 12px;
  }
  .desc p:last-child {
    font-size: 12px;
  }
  .card1 h1 {
    font-size: 0.9rem;
  }
  .wrap {
    position: absolute;
    top: -1.6rem;
    left: 50vw;
  }
  .wrap img {
    width: 55px;
    height: 55px;
  }
}

/* mobile design ends */

.desc p {
  color: #111235;
  font-size: 18px;
}

.desc p:last-child {
  color: #6c6c6c;
  text-transform: capitalize;
}

.button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: #ff6160;
  font-size: 18px;
  margin-top: 30px;
}

.button span {
  margin-right: 26.5px;
}

.card2 {
  background: #fff;
  width: 50vw;
  border-radius: 22px;
  padding: 20px 0 30px 0;
  position: absolute;
  top: 9rem;
  left: 14rem;
}

/* mobile display */
@media screen and (max-width: 450px) {
  .card2 {
    border-radius: 13px;
    position: absolute;
    top: 6rem;
    left: 12.5rem;
  }

  .personimage img {
    width: 70px;
    height: 70px;
  }

  .personinfo {
    line-height: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
  }

  .personinfo p:first-child {
    font-size: 12px;
  }
  .personinfo p:last-child {
    font-size: 10px;
    text-transform: capitalize;
  }
  .secondbutton {
    font-size: 12px;
  }
}

/* mobile design ends */

.personimage {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 450px) {
  .personinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 8px;
    padding-top: 22px;
  }
}

.secondbutton {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: #ff0000;
  color: #fff;
  border: none;
  /* margin-top: 14px; */
  padding: 9px 15px 13px 16px;
}

@media screen and (min-width: 450px) {
  .secondbutton {
    margin-top: 20px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }
  .main section {
    width: 50vw;
    margin-left: 27px;
  }
  .card1 {
    width: 21rem;
    background: red;
    height: 388px;
    margin-left: 57px;
  }

  .card2 {
    width: 22rem;
    background: green;
    position: absolute;
    height: 318px;
    left: 338px;
    top: 104px;
    bottom: 32px;
  }

  .wrap {
    left: 24rem;
  }
  .section {
    padding-left: 140px;
  }

  .section img {
    margin-top: 20px;
    height: 56px;
  }

  .section h1 {
    width: 511px;
    margin-top: -3rem;
  }

  .section p {
    width: 446px;
  }

  .button {
    position: absolute;
    bottom: 32px;
  }

  .secondbutton {
    left: 51px;
    right: 51px;
    position: absolute;
    bottom: 34px;
  }
}

@media screen and (max-width: 650px) {
  .section {
    position: relative;
    top: 4rem;
    margin-left: 27px;
  }
  .section h1 {
    font-size: 27px;
    font-weight: 900;
    line-height: 35px;
  }
  .section p {
    font-size: 14px;
    line-height: 17px;
  }
  .section img {
    margin-top: 27px;
    width: 296px;
    height: 46px;
  }
}

.section h1 {
  font-family: "Tiemposbold";
  font-size: 30px;
  font-weight: 900;
  line-height: 39px;
}

.section p {
  font-size: 1rem;
  line-height: 20px;
  font-family: "apercuregular";
}

@media screen and (min-width: 760px) {
}
