.section {
  background: #f3f7fa;
  width: 80vw;
  margin: 3rem auto;
  height: 473px;
}

.main {
  margin-top: 98px;
}

.main h1 {
  font-family: "Tiemposbold";
  text-align: center;
  font-size: 20px;
}
.wrapper {
  padding-top: 17px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  margin-left: 36px;
  position: relative;
}

.contain {
  background: #e7dada99;
  height: 35px;
  width: 50vw;
}
.form {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  margin-top: 1rem;
}

.form label {
  font-size: 13px;
  font-family: "Apercuregular";
}

input {
  flex: 1;
  width: 60vw;
  padding: 0.5rem;
  margin: 0 35px 15px 0;
  border: none;
}

.wrapper p:last-child {
  color: #ff0000;
  font-size: 13px;
  margin-top: 13px;
}

.contain1,
.contain2,
.contain3 {
  background: #e7dada99;
}

.contain1 {
  height: 35px;
  width: 60vw;
}

.contain2 {
  height: 35px;
  width: 50vw;
  margin-top: 9px;
}

.contain3 {
  height: 16px;
  width: 50vw;
  margin-top: 9px;
}

.deal {
  margin: 0 23px;
}

.secondCard p {
  font-family: "Apercuregular";
  font-size: 12px;
  width: 85vw;
  font-weight: 400;
  line-height: 17px;
}

button {
  background: #ff0000;
  border: none;
  box-shadow: 0px 67px 80px rgba(55, 52, 169, 0.07),
    0px 43.4259px 46.8519px rgba(55, 52, 169, 0.0531481),
    0px 25.8074px 25.4815px rgba(55, 52, 169, 0.0425185),
    0px 13.4px 13px rgba(55, 52, 169, 0.035),
    0px 5.45926px 6.51852px rgba(55, 52, 169, 0.0274815),
    0px 1.24074px 3.14815px rgba(55, 52, 169, 0.0168519);
  border-radius: 47px;
  padding: 16px 54px;
  margin-top: 12px;
  color: #fff;
}

.Independent img {
  position: relative;
  top: 83px;
  left: 31px;
  right: 0;
  width: 85vw;
  max-width: 400px;
  object-fit: cover;
}

.investment {
  margin-top: 3rem;
}

@media screen and (min-width: 760px) {
  .main {
    padding-left: 120px;
    padding-right: 78px;
  }
  .overall {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section {
    width: 360px;
  }

  input {
    width: 260px;
  }
  .contain,
  .contain2,
  .contain3 {
    width: 220px;
  }
  .contain1 {
    width: 275px;
  }

  .deal p {
    width: 470px;
    line-height: 20px;
    margin-bottom: 42px;
    display: flex;
    font-size: 14px;
    justify-content: start;
    padding-left: 14px;
  }

  .overalll {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }

  .secondCard {
    width: 50%;
  }

  .secondCard h1 {
    font-size: 30px;
    text-align: left;
  }

  .secondCard p {
    width: 260px;
  }

  .Independent img {
    object-fit: cover;
  }

  .main h1 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .overall {
    display: flex;
    /* width: 80vw; */
    justify-content: space-between;
    /* margin: 0 auto; */
  }

  .section {
    margin-left: 0;
    margin-right: 0;
  }
  .overalll {
    display: flex;
    /* width: 80vw; */
    justify-content: space-between;
    /* margin: 0 auto; */
  }

  .investment {
    margin-left: 0px;
    /* margin-right: 0; */
    width: 400px;
    display: flex;
    justify-self: flex-start;
    /* margin-right: 80px; */
  }

  .Independent {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .Independent img {
    object-fit: contain;
  }

  .overalll {
    margin: 0 auto;
  }

  .section {
    width: 400px;
    margin-left: 0px;
    margin-right: 0px;
  }

  /* .secondCard {
    width: 50%;
  } */

  .secondCard h1 {
    text-align: left;
    margin: 0;
  }

  .secondCard p {
    width: 380px;
    font-size: 1rem;
  }

  .investment {
    margin: 0;
  }
}
