.mainwrap {
  position: relative;
  /* left: 27px; */
  /* width: 90vw; */
  margin: 170px auto 0 auto;
}

@media screen and (min-width: 450px) {
  .mainwrap {
    position: relative;
    left: 27px;
  }
}

.card1 {
  background: red;
  width: 48vw;
  width: 200px;
  /* max-width: 345px; */
  position: relative;
  border-radius: 16px;
  padding: 20px;
}

/* .card1 {
  background: red;
  width: 260px;
  max-width: 345px;
  position: relative;
  border-radius: 16px;
  padding: 20px;
} */

.wrap {
  position: absolute;
  top: -1.5rem;
  background: transparent;
  right: -1.5rem;
}

.wrap img {
  width: 55px;
  height: 55px;
}

.h1 {
  font-size: 16px;
  font-family: "Tiemposbold";
}

.lists {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.desc {
  line-height: 5px;
  margin-left: 14px;
}

.desc p:first-child {
  font-family: "Apercuregular";
  color: #111235;
}

.desc p:last-child {
  font-size: 10px;
  text-transform: capitalize;
  color: #6c6c6c;
}

.button {
  background: #fff;
  border-radius: 0;
  box-shadow: none;
}

.button span {
  margin-right: 26px;
}

.card2 {
  background: green;
  /* width: 42vw; */
  width: 180px;
  /* max-width: 295px; */
  padding: 32px 10px 20px 10px;
  border-radius: 22px;
  position: absolute;
  top: 100px;
  left: 200px;
}

/* .card2 {
  background: green;
  width: 230px;
  max-width: 295px;
  padding: 32px 10px 20px 10px;
  border-radius: 22px;
  position: absolute;
  top: 100px;
  left: 200px;
} */

.secondcard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personimage img {
  width: 70px;
  height: 70px;
}

.personinfo {
  line-height: 8px;
}

.personinfo p:first-child {
  font-family: "Apercuregular";
  font-size: 16px;
  color: #111235;
}

.personinfo p:last-child {
  font-size: 10px;
  color: #6c6c6c;
  text-transform: capitalize;
  text-align: center;
}

.secondbutton {
  padding: 7px 12px 9px 12px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  margin: 15px auto 30px auto;
}

.section {
  margin-top: 50px;
  margin-left: 27px;
}

.section h1 {
  font-size: 27px;
  font-family: "Tiemposbold";
}

.section p {
  font-size: 14px;
  font-family: "Apercuregular";
}

.section img {
  object-fit: cover;
}

@media screen and (min-width: 760px) {
  .main {
    display: flex;
    align-items: center;
    margin: 0 auto 0 auto;
    border: 1px solid red;
    position: relative;
    left: 3rem;
  }

  .mainwrap {
    margin-right: 50px;
  }

  .card1 {
    width: 260px;
  }

  .card2 {
    width: 210px;
    position: absolute;
    left: 210px;
  }

  .section {
    width: auto;
    margin-left: 143px;
    border: 1px solid red;
  }

  .section h1 {
    font-size: 30px;
    color: #050505;
  }

  .section p {
    font-size: 1rem;
  }

  .section img {
    margin-top: 37px;
    border: 1px solid red;
  }
}
