.mainwrap {
  position: relative;
  margin: 70px auto 0 auto;
}

@media screen and (min-width: 450px) {
  .mainwrap {
    position: relative;
    left: 27px;
  }
}

.card1 {
  background: #fff;
  width: 45vw;
  /* width: 200px; */
  /* max-width: 345px; */
  position: relative;
  border-radius: 16px;
  padding: 20px;
}

.wrap {
  position: absolute;
  top: -1.5rem;
  background: transparent;
  right: -1.5rem;
}

.wrap img {
  width: 55px;
  height: 55px;
}

.h1 {
  font-size: 12px;
  font-family: "Tiemposbold";
}

.lists {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.desc {
  line-height: 5px;
  margin-left: 14px;
}

.desc p:first-child {
  font-family: "Apercuregular";
  color: #111235;
  font-size: 10px;
}

.desc p:last-child {
  font-size: 10px;
  text-transform: capitalize;
  color: #6c6c6c;
}

.button {
  background: #fff;
  border-radius: 0;
  box-shadow: none;
}

.button span {
  margin-right: 26px;
}

.card2 {
  background: #fff;
  width: 40vw;
  padding: 32px 10px 20px 10px;
  border-radius: 22px;
  position: absolute;
  top: 140px;
  left: 170px;
}

.secondcard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personimage img {
  width: 70px;
  height: 70px;
}

.personinfo {
  line-height: 8px;
}

.personinfo p:first-child {
  font-family: "Apercuregular";
  font-size: 16px;
  color: #111235;
}

.personinfo p:last-child {
  font-size: 10px;
  color: #6c6c6c;
  text-transform: capitalize;
  text-align: center;
}

.secondbutton {
  padding: 7px 12px 9px 12px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin: 15px auto 30px auto;
}

.section {
  width: 85vw;
  margin: 4rem auto 0 auto;
  /* margin-top: 50px; */
  /* margin-left: 27px; */
}

.section h1 {
  font-size: 20px;
  font-family: "Tiemposbold";
}

.section p {
  font-size: 14px;
  font-family: "Apercuregular";
}

.section img {
  object-fit: cover;
  width: 296px;
}

@media screen and (min-width: 760px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 0 auto;
    border: 1px solid red;
    width: 85vw;
  }

  .mainwrap {
    width: 520px;
    margin-left: 0px;
  }

  .card1 {
    width: 160px;
  }

  .card2 {
    width: 150px;
    position: absolute;
    left: 150px;
  }

  .section {
    width: 350px;
    /* margin-left: 143px; */
    border: 1px solid red;
  }

  .section h1 {
    font-size: 30px;
    color: #050505;
  }

  .section p {
    font-size: 1rem;
    width: 300px;
  }

  .section img {
    margin-top: 37px;
    width: 300px;
    border: 1px solid red;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    width: 80vw;
  }
  .card1 {
    width: 230px;
  }

  .card2 {
    width: 210px;
    position: absolute;
    left: 170px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    width: 70vw;
  }
}
